<!-- Use a templated HTML printing scriptlet to import common stylesheet. -->
<?!= HtmlService.createHtmlOutputFromFile('Stylesheet').getContent(); ?>

<!-- Below is the HTML code that defines the sidebar element structure. -->
<div id="mainContent" menuType="condense">
  <!-- Page 1 -->
  <div id="pageStart" class="sbPage hidden">
    <h2 id="mainHeader">Target Sheet</h2>
    <p>Pick the sheet that you wish to condense. This will change the currently viewed sheet.</p>
    <div>
      <select id="inputSheetList1">
        <option>No sheets detected</option>
      </select>
    </div>
    <hr/>
    <h2>Set Data Area</h2>
    <p>Pick the data that you wish to condense.</p>
    <label title="A1 format (A1:B2) required.">
      Data Range:
          <input type="text" id="inputTargetRange1"/> 
    </label>
    <div class="actionTargetRange">
      <button for="inputTargetRange1" value="actionLastCell">AutoDetect</button>
      <button for="inputTargetRange1" value="actionSelection">Get Selection</button>
    </div>
    <hr/>
    <div class="actionBar">
      <div class="actionLeft"> </div>
      <div class="actionMiddle">Step 1 of 4</div>
      <div class="actionRight"><button value="pageKey" class="action">Next</button></div>
    </div>
  </div>
  <!-- Page 2 -->
  <div id="pageKey" class="sbPage hidden">
    <h2>Set Matching Data Column</h2>
    <p>Data is coondensed when two rows have matching data in a specific column. Pick the column that will be evaluated to determine if a row should be condensed.</p>
    <div>
      <select id="inputKeyList1">
        <option>No column headings detected</option>
      </select>
    </div>
    <hr/>
    <div class="actionBar">
      <div class="actionLeft"><button value="pageStart">Back</button></div>
      <div class="actionMiddle">Step 2 of 4</div>
      <div class="actionRight"><button value="pageLogic" class="action">Next</button></div>
    </div>
  </div>
  
  <!-- Page 3 -->
  <div id="pageLogic" class="sbPage hidden">
    <h2>Set Combination Rules</h2>
    <p>Pick what happens to rest of row when a matching data finds a duplicate value.</p>
    <div id="inputOptionList">
      <p>Nothing Selected</p>
    </div>
    <div class="topBorder">
      <form>
        <fieldset>
          <div class="switch-container">
            <input type="checkbox" name="inputCount" id="inputCount" class="togglebox">
            <label for="inputCount">
              <div class="toggle-text">Add matching data count</div>
              <div class="toggle-container">
                <div class="toggle-block"></div>
              </div>
            </label>
          </div>
        </fieldset>
      </form>
    </div>
    <hr/>
    <div class="actionBar">
      <div class="actionLeft"><button value="pageKey">Back</button></div>
      <div class="actionMiddle">Step 3 of 4</div>
      <div class="actionRight"><button value="pageReport" class="action">Next</button></div>
    </div>
  </div>
  
  <!-- Page 4 -->
  <div id="pageReport" class="sbPage hidden">
    <h2>PreProcess Review</h2>
    <div class="row">
      <div class="leftfloat">Sheet Name:</div>
      <div id="report-mainSheet"></div>
    </div>
    <div class="row">
      <div class="leftfloat">Unique Enteries Found:</div>
      <div id="report-uniqueCountMain">-Calculating-</div>
    </div>
    <hr/>
    <div class="actionBar">
      <div class="actionLeft"><button value="pageLogic">Back</button></div>
      <div class="actionMiddle">Step 4 of 4</div>
      <div class="actionRight"><button value="pageSave" class="action">Run</button></div>
    </div>
  </div>
  
  <!-- Page 5 -->
  <div id="pageSave" class="sbPage hidden">
    <h2>Process Complete</h2>
    <div class="row">
      <div class="leftfloat">Results saved to:</div>
      <div id="report-resultPage">-Calculating-</div>
    </div>
    <hr/>
    <div class="actionBar">
      <div class="actionLeft"><button value="pageStart">Restart</button></div>
      <div class="actionMiddle">Done</div>
      <div class="actionRight"><button value="actionClose">Close</button></div>
    </div>
  </div>  

  <!-- Loading Page -->
  <div id="pageLoading" class="sbPage">
    <hr/>
    <h2 class="center">LOADING</h2>
    <hr/>
    <div id="loadingText"></div>
  </div>
  
  <!-- Error Page -->
  <div id="errorPage" class="hidden">
    <hr/>
    <h2 class="center">ERROR DETECTED</h2>
    <hr/>
    <div id="errorText"></div>
  </div>  
</div>

<!-- Use a templated HTML printing scriptlet to import JavaScript. -->
<?!= HtmlService.createHtmlOutputFromFile('SidebarJavaScript').getContent(); ?>