<!-- Use a templated HTML printing scriptlet to import common stylesheet. -->
<?!= HtmlService.createHtmlOutputFromFile('Stylesheet').getContent(); ?>

<!-- Below is the HTML code that defines the sidebar element structure. -->
<div id="mainContent" menuType="merge">
  <!-- Page 1 -->
  <div id="pageStart" class="sbPage hidden">
    <h2 id="mainHeader">Starting Sheet</h2>
    <p>Pick the sheet that you wish to merge data into. This will change the currently viewed sheet.</p>
    <div>
      <select id="inputSheetList1">
        <option>No sheets detected</option>
      </select>
    </div>
    <hr/>
    <h2>Set Data Area</h2>
    <p>Specify dataset that the merged sheet will add data to.</p>
    <label title="A1 format (A1:B2) required.">
      Data Range:
          <input type="text" id="inputTargetRange1"/> 
    </label>
    <div class="actionTargetRange">
      <button for="inputTargetRange1" value="actionLastCell">AutoDetect</button>
      <button for="inputTargetRange1" value="actionSelection">Get Selection</button>
    </div>
    <hr/>
    <div class="actionBar">
      <div class="actionLeft"> </div>
      <div class="actionMiddle">Step 1 of 5</div>
      <div class="actionRight"><button value="pageMerge" class="action">Next</button></div>
    </div>
  </div>
  <!-- Page 2 -->
  <div id="pageMerge" class="sbPage hidden">
    <h2>Merge Sheet</h2>
    <p>Pick the sheet that you wish to pull data from. This will change the currently viewed sheet.</p>
    <div>
      <select id="inputSheetList2">
        <option>No sheets detected</option>
      </select>
    </div>
    <hr/>
    <h2>Mark Merge Data</h2>
    <p>Specify the date that you wish to merge into the starting sheet.</p>
    <label title="A1 format (A1:B2) required.">
      Data Range:
          <input type="text" id="inputTargetRange2"/> 
    </label>
    <div id="popupTargetRange2" class="hidden">A1 format required.</div>
    <div class="actionTargetRange">
      <button for="inputTargetRange2" value="actionLastCell">AutoDetect</button>
      <button for="inputTargetRange2" value="actionSelection">Get Selection</button>
    </div>
    <hr/>
    <div class="actionBar">
      <div class="actionLeft"><button value="pageStart">Back</button></div>
      <div class="actionMiddle">Step 2 of 5</div>
      <div class="actionRight"><button value="pageKey" class="action">Next</button></div>
    </div>
  </div>
  <!-- Page 3 -->
  <div id="pageKey" class="sbPage hidden">
    <h2>Set Matching Data Column</h2>
    <p>Data is coondensed when two rows have matching data in a specific column. Pick the column that will be evaluated to determine if a row should be condensed.</p>
    <hr/>
    <p>Starting Sheet</p>
    <div>
      <select id="inputKeyList1">
        <option>No column headings detected</option>
      </select>
    </div>
    <hr/>
    <p>Merge Data Source Sheet</p>
    <div>
      <select id="inputKeyList2">
        <option>No column headings detected</option>
      </select>
    </div>
    <hr/>
    <div class="actionBar">
      <div class="actionLeft"><button value="pageMerge">Back</button></div>
      <div class="actionMiddle">Step 3 of 5</div>
      <div class="actionRight"><button value="pageLogic" class="action">Next</button></div>
    </div>
  </div>
  <!-- Page 4 -->
  <div id="pageLogic" class="sbPage hidden">
    <h2>Set Combination Rules</h2>
    <p>Pick what happens to rest of row when matching data finds a duplicate value.</p>
    <div id="inputOptionList">
      <p>Nothing Selected</p>
    </div>
    <div class="topBorder">
      <form>
        <fieldset>
          <div class="switch-container">
            <input type="checkbox" name="inputCount" id="inputCount" class="togglebox">
            <label for="inputCount">
              <div class="toggle-text">Add matching data count</div>
              <div class="toggle-container">
                <div class="toggle-block"></div>
              </div>
            </label>
          </div>
        </fieldset>
      </form>
    </div>
    <hr/>
    <div class="actionBar">
      <div class="actionLeft"><button value="pageKey">Back</button></div>
      <div class="actionMiddle">Step 4 of 5</div>
      <div class="actionRight"><button value="pageReport" class="action">Next</button></div>
    </div>
  </div>
  <!-- Page 5 -->
  <div id="pageReport" class="sbPage hidden">
    <h2>PreProcess Review</h2>
    <div class="row">
      <div class="leftfloat">Base Sheet Name:</div>
      <div id="report-rootSheet"></div>
    </div>
    <div class="row">
      <div class="leftfloat">Number of rows:</div>
      <div id="report-rootLength">-Calculating-</div>
    </div>
    <hr/>
    <div class="row">
      <div class="leftfloat">Merge Sheet Name:</div>
      <div id="report-mainSheet"></div>
    </div>
    <div class="row">
      <div class="leftfloat">Unique Rows:</div>
      <div id="report-uniqueCountMain">-Calculating-</div>
    </div>
    <hr/>
    <div class="actionBar">
      <div class="actionLeft"><button value="pageLogic">Back</button></div>
      <div class="actionMiddle">Step 5 of 5</div>
      <div class="actionRight"><button value="pageSave" class="action">Run</button></div>
    </div>
  </div>
  
  <!-- Page 5 -->
  <div id="pageSave" class="sbPage hidden">
    <h2>Process Complete</h2>
    <div class="row">
      <div class="leftfloat">Results saved to:</div>
      <div id="report-resultPage">-Calculating-</div>
    </div>
    <hr/>
    <div class="actionBar">
      <div class="actionLeft"><button value="pageStart">Restart</button></div>
      <div class="actionMiddle">Done</div>
      <div class="actionRight"><button value="actionClose">Close</button></div>
    </div>
  </div>  

  <!-- Loading Page -->
  <div id="pageLoading" class="sbPage">
    <hr/>
    <h2 class="center">LOADING</h2>
    <hr/>
    <div id="loadingText"></div>
  </div>
  
  <!-- Error Page -->
  <div id="errorPage" class="hidden">
    <hr/>
    <h2 class="center">ERROR DETECTED</h2>
    <hr/>
    <div id="errorText"></div>
  </div>  
</div>

<!-- Use a templated HTML printing scriptlet to import JavaScript. -->
<?!= HtmlService.createHtmlOutputFromFile('SidebarJavaScript').getContent(); ?>